[project]
	description = An adventure into go programming
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuvaraj (SkyRocknRoll)
[access "refs/for/refs/*"]
	read = group user/Yuvaraj (SkyRocknRoll)
	push = group user/Yuvaraj (SkyRocknRoll)
	label-Code-Review = -2..+2 group user/Yuvaraj (SkyRocknRoll)
	label-Verified = -1..+1 group user/Yuvaraj (SkyRocknRoll)
	rebase = group user/Yuvaraj (SkyRocknRoll)
	removeReviewer = group user/Yuvaraj (SkyRocknRoll)
	submit = group user/Yuvaraj (SkyRocknRoll)
[access "refs/heads/*"]
	read = group user/Yuvaraj (SkyRocknRoll)
	create = group user/Yuvaraj (SkyRocknRoll)
	push = +force group user/Yuvaraj (SkyRocknRoll)
	pushMerge = group user/Yuvaraj (SkyRocknRoll)
[access "refs/tags/*"]
	push = +force group user/Yuvaraj (SkyRocknRoll)
	pushTag = group user/Yuvaraj (SkyRocknRoll)
	pushSignedTag = group user/Yuvaraj (SkyRocknRoll)
